<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}
{% block tabs %}
{{ super() }}

<link rel="stylesheet" href="assets/stylesheets/style.css">
<!-- Main site Entry button descriptions -->
<section class="landing">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <div class="tx-hero__image">
                <img src="images/vecrv.svg" draggable="false">
            </div>
            <div class="tx-hero__content">
                <h1>CurveFi Technical Documentation</h1>
                <p>Comprehensive documentation detailing the architecture, functionality, and security aspects of Curve's core smart contracts, exchange contracts, and crvUSD stablecoin.</p>
                <a href="/protocol-overview" title="Protocol Overview"
                    class="md-button md-button--primary">
                    Protocol Overview
                </a>
                <a href="https://github.com/curvefi" title="GitHub" class="md-button">
                    GitHub
                </a>
            </div>
        </div>
    </div>
</section>


{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}