site_name: Curve Docs
site_url: https://curvefi.github.io/curve-mkdocs/
site_author: CurveFi

plugins:
  - search
  - autolinks
  - git-revision-date-localized:
      type: timeago
  - minify:
      minify_html: true


nav:
  - Curve DAO:
    - Overview: curve_dao/overview.md  
    - Curve DAO Token: curve_dao/ERC20CRV.md
    - Vote-Escrowed CRV: curve_dao/VotingEscrow.md
    - Liquidity Gauges and Minting CRV:             
      - Overview: curve_dao/LiquidityGaugesAndMinting/overview.md
      - Gauge Controller: curve_dao/LiquidityGaugesAndMinting/GaugeController.md
      - Gauges:
        - Gauge Types: curve_dao/LiquidityGaugesAndMinting/GaugeTypes.md
        - LiquidityGaugeReward: curve_dao/LiquidityGaugesAndMinting/LiquidityGaugeRewards.md
        - LiquidityGaugeV1: curve_dao/LiquidityGaugesAndMinting/LiquidityGaugeV1.md
        - LiquidityGaugeV2: curve_dao/LiquidityGaugesAndMinting/LiquidityGaugeV2.md
        - LiquidityGaugeV3: curve_dao/LiquidityGaugesAndMinting/LiquidityGaugeV3.md
        - LiquidityGaugeV4: curve_dao/LiquidityGaugesAndMinting/LiquidityGaugeV4.md
        - LiquidityGaugeV5: curve_dao/LiquidityGaugesAndMinting/LiquidityGaugeV5.md
      - Minter: curve_dao/LiquidityGaugesAndMinting/Minter.md 
    - Gauges for EVM Sidechains: curve_dao/evm-sidechains/overview.md
    - Fee Collection and Distribution:
      - Overview: curve_dao/FeeCollection&Distribution/overview.md
      - Withdrawing and Burning Admin Fees: curve_dao/FeeCollection&Distribution/withdraw-and-burn.md
      - Burners: curve_dao/FeeCollection&Distribution/burner.md
      - Fee Distribution: curve_dao/FeeCollection&Distribution/FeeDistributor.md
      - Deployed Contracts: curve_dao/FeeCollection&Distribution/deployed-contracts.md
    - Ownership Proxies:
      - Overview: curve_dao/ownership-proxy/overview.md
      - Agents: curve_dao/ownership-proxy/Agents.md
      - PoolProxy: curve_dao/ownership-proxy/PoolProxy.md
      - GaugeProxy: curve_dao/ownership-proxy/GaugeProxy.md
    - Governance and Voting: curve_dao/gov-and-vote/overview.md

    - Registry:
      - Overview: registry/overview.md
      - MetaRegistryAPI: registry/MetaRegistryAPI.md

  - crvUSD:
    - Overview: crvUSD/overview.md
    - $crvUSD: crvUSD/crvUSD.md
    - Controller: crvUSD/controller.md
    - LLAMMA: crvUSD/amm.md
    - Factory: crvUSD/factory.md
    - PegKeeper: crvUSD/pegkeeper.md
    - MonetaryPolicy: crvUSD/monetarypolicy.md
    - PriceAggregator: crvUSD/priceaggregator.md
    - Oracle: crvUSD/oracle.md
    - Deployments: crvUSD/deployments.md

  - Stableswap Exchange:    
    - Overview: stableswap_exchange/overview.md 
    - Pools:
      - Overview: stableswap_exchange/pools/overview.md
      - Plain Pools: stableswap_exchange/pools/plain_pools.md
      - Lending Pools: stableswap_exchange/pools/lending_pools.md
      - Metapools: stableswap_exchange/pools/metapools.md
      - Admin Controls: stableswap_exchange/pools/admin_pool_settings.md
    - Liquidity Pool Tokens:
      - Overview: stableswap_exchange/lp_tokens/overview.md
      - Curve Token V1: stableswap_exchange/lp_tokens/curve_token_v1.md
      - Curve Token V2: stableswap_exchange/lp_tokens/curve_token_v2.md
      - Curve Token V3: stableswap_exchange/lp_tokens/curve_token_v3.md
    - Deposit Contracts:
      - Overview: stableswap_exchange/deposit_contracts/overview.md
      - Lending Pool Deposits: stableswap_exchange/deposit_contracts/lending_pool_deposits.md
      - Metapool Deposits: stableswap_exchange/deposit_contracts/metapool_deposits.md
    - Cross Asset Swaps:
      - Overview: stableswap_exchange/cross_asset_swaps/overview.md
      - SynthSwap: stableswap_exchange/cross_asset_swaps/synthswap_exchange.md

  - Cryptoswap Exchange:
    - Overview: cryptoswap_exchange/overview.md

  - Factory:
    - Overview: factory/overview.md
    - Deployer API: factory/deployer_api.md
    - Registry API: factory/registry_api.md
    - Admin Controls: factory/admin_controls.md

  - References:
    - Deployment Addresses: references/deployed-contracts.md
    - Whitepaper: references/whitepaper.md
    - Useful Resources: references/useful-resources.md

# extension
markdown_extensions:
  - def_list
  - attr_list
  - md_in_html
  - admonition
  - meta
  - toc:
      permalink: true
      baselevel: 2
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.smartsymbols
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true

theme:
  name: material
  include_search_page: false
  search_index_only: true
  font:
    text: Roboto
    code: Roboto Mono
  logo: "images/logo.png"
  favicon: "images/logo.png"
  features:
    - content.code.annotate
    - content.tabs.link
    - navigation.expand
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - content.code.copy
  palette:
    - scheme: default
      primary: black
      accent: red
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: slate
      primary: black
      accent: red
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

extra_css:
  - 'stylesheets/extra.css'

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

repo_name: https://curvefi.github.io/curve-mkdocs/ # for example: 'lyz-code/pydo'
repo_url: https://curvefi.github.io/curve-mkdocs/  # for example: 'https://github.com/lyz-code/pydo'
