site_name: Curve Technical Docs
site_url: https://docs.curve.fi/
site_author: CurveFi

plugins:
  - search
  - autolinks
  - typeset
  - git-revision-date-localized:
      type: timeago
  - minify:
      minify_html: true

# extension
markdown_extensions:
  - def_list
  - attr_list
  - md_in_html
  - admonition
  - meta
  - toc:
      permalink: true
      baselevel: 2
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.smartsymbols
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true

theme:
  name: material
  custom_dir: overrides
  include_search_page: false
  search_index_only: true
  font:
    text: Roboto
    code: Roboto Mono
  logo: "images/vecrv.svg"
  favicon: "images/lama/lama.png"
  icon:
    repo: simple/github
  features:
    - content.code.annotate
    - content.tabs.link
    - navigation.indexes
    - navigation.path
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - content.code.copy
  palette:
    # - media: "(prefers-color-scheme: dark)"
    - scheme: default
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    # - media: "(prefers-color-scheme: light)"
    - scheme: slate
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

extra_css:
  - assets/stylesheets/extra.css

extra_javascript:
  - assets/javascripts/extra.js
  - assets/javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


repo_name: CurveDocs/curve-docs
repo_url: https://github.com/CurveDocs/curve-docs



nav:
  - Protocol Overview: protocol-overview.md
  - Curve DAO:
    - Curve DAO Token:
      - CRV Token: curve_dao/curve-dao-token/crv-token.md
      - Admin Controls: curve_dao/curve-dao-token/admin-controls.md
    - Vote-Escrowed CRV:
      - VotingEscrow:
        - Contract Methods: curve_dao/voting-escrow/voting-escrow.md
        - Admin Controls: curve_dao/voting-escrow/admin-controls.md
      - SmartWalletChecker: curve_dao/voting-escrow/smartwalletchecker.md
    - Fee Collection and Distribution:
      - Overview: curve_dao/fee-collection-distribution/overview.md
      - Withdraw and Burn: curve_dao/fee-collection-distribution/withdraw-and-burn.md
      - Burners: curve_dao/fee-collection-distribution/burner.md
      - Fee Distribution: curve_dao/fee-collection-distribution/distributor.md
      - Sidechains: curve_dao/fee-collection-distribution/sidechains.md
    - Liquidity Gauges and Minting CRV:
      - Overview: curve_dao/liquidity-gauge-and-minting-crv/overview.md
      - GaugeController:
        - Gauge Controller: curve_dao/liquidity-gauge-and-minting-crv/gauge-controller/GaugeController.md
        - Admin Controls: curve_dao/liquidity-gauge-and-minting-crv/gauge-controller/admin-controls.md
      - Gauges:
        - Overview: curve_dao/liquidity-gauge-and-minting-crv/gauges/overview.md
        - LiquidityGaugeV1: curve_dao/liquidity-gauge-and-minting-crv/gauges/LiquidityGaugeV1.md
        - LiquidityGaugeV2: curve_dao/liquidity-gauge-and-minting-crv/gauges/LiquidityGaugeV2.md
        - LiquidityGaugeV3: curve_dao/liquidity-gauge-and-minting-crv/gauges/LiquidityGaugeV3.md
        - LiquidityGaugeV4: curve_dao/liquidity-gauge-and-minting-crv/gauges/LiquidityGaugeV4.md
        - LiquidityGaugeV5: curve_dao/liquidity-gauge-and-minting-crv/gauges/LiquidityGaugeV5.md  
        - Permissionless Rewards: curve_dao/liquidity-gauge-and-minting-crv/gauges/PermissionlessRewards.md
      - Gauges for EVM Sidechains: 
        - Overview: curve_dao/liquidity-gauge-and-minting-crv/evm-sidechains/overview.md
        - RootChainGauge: curve_dao/liquidity-gauge-and-minting-crv/evm-sidechains/RootChainGauge.md
        - RootChainGaugeFactory: curve_dao/liquidity-gauge-and-minting-crv/evm-sidechains/RootChainGaugeFactory.md
        - ChilChaindGauge: curve_dao/liquidity-gauge-and-minting-crv/evm-sidechains/ChildGauge.md
        - ChildChainGaugeFactory: curve_dao/liquidity-gauge-and-minting-crv/evm-sidechains/ChildGaugeFactory.md
      - Minter: curve_dao/liquidity-gauge-and-minting-crv/minter.md 
    - Ownership Proxies:
      - Overview: curve_dao/ownership-proxy/overview.md
      - Agents: curve_dao/ownership-proxy/Agents.md
      - PoolProxy: curve_dao/ownership-proxy/PoolProxy.md
      - GaugeProxy: curve_dao/ownership-proxy/GaugeProxy.md
      - RootChainGaugeProxy: curve_dao/ownership-proxy/RootChainGaugeFactoryProxy.md
    - Governance and Voting:  
      - Overview: curve_dao/governance/overview.md
      - Crosschain Governance: curve_dao/xgov/xgov.md
    - Exchange Router: curve_dao/router/router.md


  - Registry:
    - Overview: registry/overview.md
    - MetaRegistry API: registry/MetaRegistryAPI.md
    - Admin Controls: registry/admin-controls.md


  - Curve Stablecoin:
    - Overview: crvUSD/overview.md
    - crvUSD Token: crvUSD/crvUSD.md
    - Controller: crvUSD/controller.md
    - LLAMMA: crvUSD/amm.md
    - PegKeeper: crvUSD/pegkeeper.md
    - MonetaryPolicy: crvUSD/monetarypolicy.md
    - PriceAggregator: crvUSD/priceaggregator.md
    - Oracle: crvUSD/oracle.md
    - Factory: 
      - Overview: crvUSD/factory/overview.md
      - Deployer API: crvUSD/factory/deployer-api.md
      - Contract Methods: crvUSD/factory/contract-methods.md
      - Admin Controls: crvUSD/factory/admin-controls.md


  - StableSwap Exchange:
    - Overview: stableswap-exchange/overview.md
    - Stableswap:    
      - Pools:
        - Overview: stableswap-exchange/stableswap/pools/overview.md
        - Plain Pools: stableswap-exchange/stableswap/pools/plain_pools.md
        - Lending Pools: stableswap-exchange/stableswap/pools/lending_pools.md
        - Metapools: stableswap-exchange/stableswap/pools/metapools.md
        - Admin Controls: stableswap-exchange/stableswap/pools/admin_pool_settings.md
      - Liquidity Pool Tokens:
        - Overview: stableswap-exchange/stableswap/lp_tokens/overview.md
        - Curve Token V1: stableswap-exchange/stableswap/lp_tokens/curve_token_v1.md
        - Curve Token V2: stableswap-exchange/stableswap/lp_tokens/curve_token_v2.md
        - Curve Token V3: stableswap-exchange/stableswap/lp_tokens/curve_token_v3.md
      - Deposit Contracts:
        - Overview: stableswap-exchange/stableswap/deposit_contracts/overview.md
        - Lending Pool Deposits: stableswap-exchange/stableswap/deposit_contracts/lending_pool_deposits.md
        - Metapool Deposits: stableswap-exchange/stableswap/deposit_contracts/metapool_deposits.md
      - Cross Asset Swaps:
        - Overview: stableswap-exchange/stableswap/cross_asset_swaps/overview.md
        - SynthSwap: stableswap-exchange/stableswap/cross_asset_swaps/synthswap_exchange.md
    - Stableswap-NG:
      - Overview: stableswap-exchange/stableswap-ng/overview.md
      - Pools:
        - Overview: stableswap-exchange/stableswap-ng/pools/overview.md
        - Plain Pools: stableswap-exchange/stableswap-ng/pools/plainpool.md
        - Metapools: stableswap-exchange/stableswap-ng/pools/metapool.md
        - LP Token Methods: stableswap-exchange/stableswap-ng/pools/lp_token.md
        - Admin Controls: stableswap-exchange/stableswap-ng/pools/admin_controls.md
      - Utility Contracts: 
          - Math: stableswap-exchange/stableswap-ng/utility_contracts/math.md
          - Views: stableswap-exchange/stableswap-ng/utility_contracts/views.md


  - CryptoSwap Exchange:
    - Overview: cryptoswap-exchange/overview.md
    - CryptoSwap:
      - Pools:
        - Crypto Pool: cryptoswap-exchange/cryptoswap/pools/crypto-pool.md
        - Admin Controls: cryptoswap-exchange/cryptoswap/pools/admin-controls.md
      - Liquidity Pool Tokens:
        - Overview: cryptoswap-exchange/cryptoswap/lp_tokens/overview.md
        - Curve Token V5: cryptoswap-exchange/cryptoswap/lp_tokens/lp-token-V5.md
    - Tricrypto-NG:
      - Overview: cryptoswap-exchange/tricrypto-ng/overview.md
      - Pools:
        - Tricrypto Pool: cryptoswap-exchange/tricrypto-ng/pools/tricrypto_pool.md
        - LP Token Methods: cryptoswap-exchange/tricrypto-ng/lp_tokens/tricrypto-lp-token.md
        - Admin Controls: cryptoswap-exchange/tricrypto-ng/pools/admin_controls.md
      - Utility Contracts: 
        - Math: cryptoswap-exchange/tricrypto-ng/utility_contracts/math.md
        - Views: cryptoswap-exchange/tricrypto-ng/utility_contracts/views.md


  - Pool Factory:
    - Overview: factory/overview.md
    - StableSwap: 
      - Overview: factory/stableswap/overview.md
      - Deployer API: factory/stableswap/deployer-api.md
      - Implementations: factory/stableswap/implementations.md
    - StableSwap-NG:
      - Overview: factory/stableswapNG/overview.md
      - Deployer API: factory/stableswapNG/deployer-api.md
      - Implementations: factory/stableswapNG/implementations.md
    - CryptoSwap:
      - Overview: factory/cryptoswap/overview.md
      - Deployer API: factory/cryptoswap/deployer-api.md
      - Implementations: factory/cryptoswap/implementations.md
    - Tricrypto-NG:
      - Overview: factory/tricryptoNG/overview.md
      - Deployer API: factory/tricryptoNG/deployer-api.md
      - Implementations: factory/tricryptoNG/implementations.md
    

  - References:
    - Audits: references/audits/audits_pdf.md
    - Whitepapers: 
      - DAO: references/whitepapers/dao.md
      - StableSwap: references/whitepapers/stableswap.md
      - CryptoSwap: references/whitepapers/cryptoswap.md
      - Curve Stablecoin: references/whitepapers/curve-stablecoin.md
    - Useful Resources: references/useful.md
    - Deployment Addresses: references/deployed-contracts.md