site_name: Curve Docs
site_url: https://docs.curve.fi/
site_author: CurveFi

plugins:
  - search
  - autolinks
  - git-revision-date-localized:
      type: timeago
  - minify:
      minify_html: true


nav:    
  - Curve DAO:
    
    - Curve DAO Token:
      - Contract Methods: curve_dao/CurveDAOToken/ERC20CRV.md
      - Admin Controls: curve_dao/CurveDAOToken/admin_controls.md
    
    - Vote-Escrowed CRV:
      - VotingEscrow:
        - Contract Methods: curve_dao/VotingEscrow/VotingEscrow.md
        - Admin Controls: curve_dao/VotingEscrow/admin_controls.md
      - SmartWalletChecker: curve_dao/VotingEscrow/smartwalletchecker.md

    - Liquidity Gauges and Minting CRV:
      - Overview: curve_dao/LiquidityGaugesAndMintingCRV/overview.md
      - GaugeController:
        - Contract Methods: curve_dao/LiquidityGaugesAndMintingCRV/gauge_controller/GaugeController.md
        - Admin Controls: curve_dao/LiquidityGaugesAndMintingCRV/gauge_controller/admin_controls.md
      - Gauges:
        - Overview: curve_dao/LiquidityGaugesAndMintingCRV/gauges/overview.md
        - LiquidityGaugeV1: curve_dao/LiquidityGaugesAndMintingCRV/gauges/LiquidityGaugeV1.md
        - LiquidityGaugeV2: curve_dao/LiquidityGaugesAndMintingCRV/gauges/LiquidityGaugeV2.md
        - LiquidityGaugeV3: curve_dao/LiquidityGaugesAndMintingCRV/gauges/LiquidityGaugeV3.md
        - LiquidityGaugeV4: curve_dao/LiquidityGaugesAndMintingCRV/gauges/LiquidityGaugeV4.md
        - LiquidityGaugeV5: curve_dao/LiquidityGaugesAndMintingCRV/gauges/LiquidityGaugeV5.md  
        - Permissionless Rewards: curve_dao/LiquidityGaugesAndMintingCRV/gauges/PermissionlessRewards.md
      - Gauges for EVM Sidechains: 
        - Overview: curve_dao/LiquidityGaugesAndMintingCRV/evm-sidechains/overview.md
        - RootChainGauge: curve_dao/LiquidityGaugesAndMintingCRV/evm-sidechains/RootChainGauge.md
        - RootChainFactory: curve_dao/LiquidityGaugesAndMintingCRV/evm-sidechains/RootChainGaugeFactory.md
        - ChildGauge: curve_dao/LiquidityGaugesAndMintingCRV/evm-sidechains/ChildGauge.md
        - ChildGaugeFactory: curve_dao/LiquidityGaugesAndMintingCRV/evm-sidechains/ChildGaugeFactory.md
      - Minter: curve_dao/LiquidityGaugesAndMintingCRV/minter.md 
    - Fee Collection and Distribution:
      - Overview: curve_dao/FeeCollection-Distribution/overview.md
      - Withdrawing and Burning Admin Fees: curve_dao/FeeCollection-Distribution/withdraw-and-burn.md
      - Burners: curve_dao/FeeCollection-Distribution/burner.md
      - Fee Distribution: curve_dao/FeeCollection-Distribution/FeeDistributor.md
      - Deployed Contracts: curve_dao/FeeCollection-Distribution/deployed-contracts.md
    - Ownership Proxies:
      - Overview: curve_dao/ownership-proxy/overview.md
      - Agents: curve_dao/ownership-proxy/Agents.md
      - PoolProxy: curve_dao/ownership-proxy/PoolProxy.md
      - GaugeProxy: curve_dao/ownership-proxy/GaugeProxy.md
      - RootChainGaugeProxy: curve_dao/ownership-proxy/RootChainGaugeFactoryProxy.md
    - Governance and Voting: 
      - Overview: curve_dao/governance/overview.md
      
  - Curve Stablecoin (crvUSD):
    - Overview: crvUSD/overview.md
    - crvUSD Token: crvUSD/crvUSD.md
    - Controller: crvUSD/controller.md
    - LLAMMA: crvUSD/amm.md
    - PegKeeper: crvUSD/pegkeeper.md
    - MonetaryPolicy: crvUSD/monetarypolicy.md
    - PriceAggregator: crvUSD/priceaggregator.md
    - Oracle: crvUSD/oracle.md
    - Factory: crvUSD/factory.md
    - Deployments: crvUSD/deployments.md

  - Stableswap-NG:
    - Overview: stableswap-ng_exchange/overview.md
    - Pools:
      - Overview: stableswap-ng_exchange/pools/overview.md
      - Plain Pools: stableswap-ng_exchange/pools/plainpool.md
      - Metapools: stableswap-ng_exchange/pools/metapool.md
      - LP Token Methods: stableswap-ng_exchange/pools/lp_token.md
      - Admin Controls: stableswap-ng_exchange/pools/admin_controls.md
    - Utility Contracts: 
        - Math: stableswap-ng_exchange/utility_contracts/math.md
        - Views: stableswap-ng_exchange/utility_contracts/views.md
    - Pool Factory:
      - Overview: stableswap-ng_exchange/factory/overview.md
      - Deployer API: stableswap-ng_exchange/factory/deploy.md
      - Admin Controls: stableswap-ng_exchange/factory/admin_controls.md

  - Stableswap Exchange:    
    - Overview: stableswap_exchange/overview.md 
    - Pools:
      - Overview: stableswap_exchange/pools/overview.md
      - Plain Pools: stableswap_exchange/pools/plain_pools.md
      - Lending Pools: stableswap_exchange/pools/lending_pools.md
      - Metapools: stableswap_exchange/pools/metapools.md
      - Admin Controls: stableswap_exchange/pools/admin_pool_settings.md
    - Liquidity Pool Tokens:
      - Overview: stableswap_exchange/lp_tokens/overview.md
      - Curve Token V1: stableswap_exchange/lp_tokens/curve_token_v1.md
      - Curve Token V2: stableswap_exchange/lp_tokens/curve_token_v2.md
      - Curve Token V3: stableswap_exchange/lp_tokens/curve_token_v3.md
    - Deposit Contracts:
      - Overview: stableswap_exchange/deposit_contracts/overview.md
      - Lending Pool Deposits: stableswap_exchange/deposit_contracts/lending_pool_deposits.md
      - Metapool Deposits: stableswap_exchange/deposit_contracts/metapool_deposits.md
    - Cross Asset Swaps:
      - Overview: stableswap_exchange/cross_asset_swaps/overview.md
      - SynthSwap: stableswap_exchange/cross_asset_swaps/synthswap_exchange.md

  - Tricrypto-NG:
    - Overview: cryptoswap-ng_exchange/overview.md
    - Pools:
      - Overview: cryptoswap-ng_exchange/pools/overview.md
      - TriCrypto Pool: cryptoswap-ng_exchange/pools/tricrypto_pool.md
      - LP Token Method: cryptoswap-ng_exchange/lp_tokens/tricrypto_lp_token.md
      - Admin Controls: cryptoswap-ng_exchange/pools/admin_controls.md
    - Utility Contracts: 
      - Math: cryptoswap-ng_exchange/utility_contracts/math.md
      - ViewMethodContract: cryptoswap-ng_exchange/utility_contracts/ViewMethodContract.md

  - Registry:
    - Overview: registry/overview.md
    - MetaRegistryAPI: registry/MetaRegistryAPI.md
    - Admin Controls: registry/admin_controls.md


  - Factory:
    - Pool Factory:
      - Overview: factory/pool_factory/overview.md
      - Deployer API: factory/pool_factory/deployer_api.md
      - Registry API: factory/pool_factory/registry_api.md
    - crvUSD Market Factory:
      - Overview: factory/crvusd_factory/overview.md
      - Deployer API: factory/crvusd_factory/deployer_api.md
      - Contract Methods: factory/crvusd_factory/contract_methods.md
      - Admin Controls: factory/crvusd_factory/admin_controls.md
    
  - References:
    - Audits: references/audits/audits_pdf.md
    - Whitepapers: 
      - DAO: references/whitepapers/dao.md
      - StableSwap: references/whitepapers/stableswap.md
      - CryptoSwap: references/whitepapers/cryptoswap.md
      - Curve Stablecoin: references/whitepapers/curve-stablecoin.md
    - Useful Resources: references/useful.md
    - Deployment Addresses: references/deployed-contracts.md

# extension
markdown_extensions:
  - def_list
  - attr_list
  - md_in_html
  - admonition
  - meta
  - toc:
      permalink: true
      baselevel: 2
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.smartsymbols
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true

theme:
  name: material
  include_search_page: false
  search_index_only: true
  font:
    text: Roboto
    code: Roboto Mono
  logo: "images/logo.png"
  favicon: "images/logo.png"
  features:
    - content.code.annotate
    - content.tabs.link
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.sections
    - navigation.path
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - content.code.copy
  palette:
    - scheme: default
      primary: black
      accent: red
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: slate
      primary: black
      accent: red
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

extra_css:
  - 'stylesheets/extra.css'

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

repo_name: CurveDocs/curve-docs
repo_url: https://github.com/CurveDocs/curve-docs
