.md-content a:link {
  text-decoration:underline;
}

.md-typeset a:hover {
  color: rgb(30, 144, 255);
  text-decoration:underline;
}

.md-typeset h1 {
  font-size: 32px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.md-typeset h2 {
  font-size: 24px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

:root {
    --md-admonition-icon--description: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.75 1.5a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V1.75a.25.25 0 0 0-.25-.25H1.75zM0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v12.5A1.75 1.75 0 0 1 14.25 16H1.75A1.75 1.75 0 0 1 0 14.25V1.75zm9.22 3.72a.75.75 0 0 0 0 1.06L10.69 8 9.22 9.47a.75.75 0 1 0 1.06 1.06l2-2a.75.75 0 0 0 0-1.06l-2-2a.75.75 0 0 0-1.06 0zM6.78 6.53a.75.75 0 0 0-1.06-1.06l-2 2a.75.75 0 0 0 0 1.06l2 2a.75.75 0 1 0 1.06-1.06L5.31 8l1.47-1.47z"/></svg>')
}
.md-typeset .admonition.description,
.md-typeset details.description {
  border-color: rgb(30, 144, 255);
}
.md-typeset .description > .admonition-title,
.md-typeset .description > summary {
  background-color: rgba(30, 144, 255, 0.3);
  border-color: rgb(30, 144, 255);
}
.md-typeset .description > .admonition-title::before,
.md-typeset .description > summary::before {
  background-color: rgb(30, 144, 255);
  -webkit-mask-image: var(--md-admonition-icon--description);
          mask-image: var(--md-admonition-icon--description);
}

:root {
  --md-admonition-icon--guard: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m8.533.133 5.25 1.68A1.75 1.75 0 0 1 15 3.48V7c0 1.566-.32 3.182-1.303 4.682-.983 1.498-2.585 2.813-5.032 3.855a1.697 1.697 0 0 1-1.33 0c-2.447-1.042-4.049-2.357-5.032-3.855C1.32 10.182 1 8.566 1 7V3.48a1.75 1.75 0 0 1 1.217-1.667l5.25-1.68a1.748 1.748 0 0 1 1.066 0Zm-.61 1.429.001.001-5.25 1.68a.251.251 0 0 0-.174.237V7c0 1.36.275 2.666 1.057 3.859.784 1.194 2.121 2.342 4.366 3.298a.196.196 0 0 0 .154 0c2.245-.957 3.582-2.103 4.366-3.297C13.225 9.666 13.5 8.358 13.5 7V3.48a.25.25 0 0 0-.174-.238l-5.25-1.68a.25.25 0 0 0-.153 0ZM9.5 6.5c0 .536-.286 1.032-.75 1.3v2.45a.75.75 0 0 1-1.5 0V7.8A1.5 1.5 0 1 1 9.5 6.5Z"/></svg>')
}
.md-typeset .admonition.guard,
.md-typeset details.guard {
border-color: rgb(60, 60, 60);
}
.md-typeset .guard > .admonition-title,
.md-typeset .guard > summary {
background-color: rgba(60, 60, 60, 0.2);
border-color: rgb(60, 60, 60);
}
.md-typeset .guard > .admonition-title::before,
.md-typeset .guard > summary::before {
background-color: rgb(60, 60, 60);
-webkit-mask-image: var(--md-admonition-icon--guard);
        mask-image: var(--md-admonition-icon--guard);
}


th, td {
    border: 1px solid var(--md-typeset-table-color);
    border-spacing: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
    font-size: 12px;
}

th {
    background: dimgrey;
    color: white;
}

.md-typeset__table {
    line-height: 1;

}

.md-typeset__table table:not([class]) {
    font-size: .74rem;
    border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    padding: 9px;
}

.md-nav__item .md-nav__link {
    padding-left: 0px; 
}

.md-nav[data-md-level="1"] .md-nav__link {
    padding-left: 15px;
}

.md-nav[data-md-level="2"] .md-nav__link {
    padding-left: 30px;
}

.md-nav[data-md-level="3"] .md-nav__link {
    padding-left: 45px;
}

.md-nav[data-md-level="4"] .md-nav__link {
    padding-left: 60px;
}

.md-nav[data-md-level="5"] .md-nav__link {
    padding-left: 75px;
}

