.md-content a:link {
  text-decoration:underline;
}

.md-typeset a:hover {
  color: rgb(30, 144, 255);
  text-decoration:underline;
}

.md-typeset h1 {
  font-size: 32px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.md-typeset h2 {
  font-size: 24px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

:root {
    --md-admonition-icon--description: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.75 1.5a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V1.75a.25.25 0 0 0-.25-.25H1.75zM0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v12.5A1.75 1.75 0 0 1 14.25 16H1.75A1.75 1.75 0 0 1 0 14.25V1.75zm9.22 3.72a.75.75 0 0 0 0 1.06L10.69 8 9.22 9.47a.75.75 0 1 0 1.06 1.06l2-2a.75.75 0 0 0 0-1.06l-2-2a.75.75 0 0 0-1.06 0zM6.78 6.53a.75.75 0 0 0-1.06-1.06l-2 2a.75.75 0 0 0 0 1.06l2 2a.75.75 0 1 0 1.06-1.06L5.31 8l1.47-1.47z"/></svg>')
}
.md-typeset .admonition.description,
.md-typeset details.description {
  border-color: rgb(30, 144, 255);
}
.md-typeset .description > .admonition-title,
.md-typeset .description > summary {
  background-color: rgba(30, 144, 255, 0.3);
  border-color: rgb(30, 144, 255);
}
.md-typeset .description > .admonition-title::before,
.md-typeset .description > summary::before {
  background-color: rgb(30, 144, 255);
  -webkit-mask-image: var(--md-admonition-icon--description);
          mask-image: var(--md-admonition-icon--description);
}

th, td {
    border: 1px solid var(--md-typeset-table-color);
    border-spacing: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
    font-size: 12px;
}

th {
    background: dimgrey;
    color: white;
}

.md-typeset__table {
    line-height: 1;

}

.md-typeset__table table:not([class]) {
    font-size: .74rem;
    border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    padding: 9px;
}

nav > *:not(ul > li > label) {
  margin-left: 20px;
}
